@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: auto;
    transition: 0.5s;
}

.register__container {
    margin: auto;
    margin-top: 10rem;
    background: #FFFFFF;
    border-radius: 20px;
    width: 58vh;
    height: 500px;
}

.left__content {
    margin: auto;
    float: left;
    width: 300px;
    height: 100%;
    border-radius: 20px;
    background:linear-gradient(380deg,#1abc9c, #305e54);
}

.register__title {
    color: #FFFF;
    text-align: center;
    margin-top: 7rem;
}

.register__description {
    color: #FFFF;
    padding: 20px;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

.left__content .login {
    text-decoration: none;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background: 0;
    color: #ffffff;
    margin-top: 1.5rem;
    font-size: 15px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
}

.right__content {
    margin: auto;
    margin-top: 3rem;
    float: right;
    width: 440px;
    height: 100%;
}

.register__title2 {
    font-size: 30px;
    text-align: center;
    color: #1abc9c;
}

.register__description2 {
    margin-top: 3.5rem;
    font-size: 15px;
    font-weight: lighter;
    color:#8f9294;
}

.register__input {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 20px;
    padding: 15px;
    border: 0;
    background: #f8f8f8;
}

.register__button {
    text-decoration: none;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    background: #1abc9c;
    margin-top: 1.5rem;
    font-size: 15px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
}